<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вход в аккаунт</title>
</head>
<body>
<h1> Вход в личный кабинет </h1>
<form action="/login" method="POST">
    <label for="username"> Имя пользователя: </label>
    <input id="username" type="text" name="username"/>
    <label for="password"> Пароль: </label>
    <input id="password" type="password" name="password"/>
    <br>
    <input type="submit" value="Войти" />
    <p> <a href="/registration"> Ещё нет аккаунта? Зарегистрируйтесь </a> </p>
</form>
</body>
</html>